@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/Overpass-VariableFont_wght.ttf") format("truetype"), url("../assets/fonts/Overpass-VariableFont_wght.woff") format("woff"), url("../assets/fonts/Overpass-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Overpass Italic";
  src: url("../assets/fonts/Overpass-Italic-VariableFont_wght.ttf") format("truetype"), url("../assets/fonts/Overpass-Italic-VariableFont_wght.woff") format("woff"), url("../assets/fonts/Overpass-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  letter-spacing: -0.05px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  outline: none;
  background-color: transparent;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
  border-radius: 15px;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 327px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .card-wrapper {
    max-width: 412px;
  }
}

.title {
  font-weight: 700;
  font-size: 1.6rem;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 768px) {
  .title {
    font-size: 1.8666666667rem;
  }
}

.subtitle {
  color: hsl(217, 12%, 63%);
  font-size: 0.9333333333rem;
  line-height: 1.57;
  font-weight: 400;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 1rem;
  }
}

.btn {
  border-radius: 22.5px;
}

.card {
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .card {
    padding: 32px 39px 32px 32px;
  }
}
.card__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: hsl(213, 19%, 18%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .card__image {
    width: 48px;
    height: 48px;
  }
}
.card__image > img {
  width: 15px;
  height: 14px;
}
@media (min-width: 768px) {
  .card__image > img {
    width: 16px;
    height: 17px;
  }
}
.card_title {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .card_title {
    margin-top: 30px;
  }
}
.card__subtitle {
  margin-top: 17px;
}
@media (min-width: 768px) {
  .card__subtitle {
    margin-top: 15px;
  }
}
.card__button-group {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-top: 24px;
}
.card__button--number {
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  font-size: 0.9333333333rem;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  letter-spacing: 0.01em;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.card__button--number:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(213, 19%, 18%);
}
.card__button--number:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
}
@media (min-width: 768px) {
  .card__button--number {
    width: 51px;
    height: 51px;
    font-size: 1.0666666667rem;
  }
}
.card__button-submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 0.9333333333rem;
  letter-spacing: 0.13em;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 24px;
  margin-bottom: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.card__button-submit:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
}
@media (min-width: 768px) {
  .card__button-submit {
    font-size: 1rem;
    margin-top: 32px;
  }
}

.thank-you__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 34px 24px 37px 24px;
}
.thank-you__content > img {
  width: 144px;
  height: 96px;
}
.thank-you__text {
  text-align: center;
}
.thank-you__rating {
  background-color: hsl(213, 19%, 18%);
  padding: 5px 12px;
  color: hsl(25, 97%, 53%);
  font-weight: 400;
  font-size: 0.9333333333rem;
}
.thank-you__subtitle {
  margin-top: 17px;
}

.hidden {
  display: none;
}

.active {
  background-color: hsl(0, 0%, 100%);
}/*# sourceMappingURL=style.css.map */